<!-- Modal -->
<div class="modal fade" id="category-modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Actions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="form-maintainance">

                    @*Name*@
                    <div class="form-group">
                        <input type="hidden" id="txt-hidden-id" value="0" />
                        <label for="txt-name" class="col-sm-2 control-label no-padding-right">Name</label>
                        <div class="col-sm-12">
                            <input type="text" name="txt-name" class="form-control" id="txt-name" placeholder="Name">
                        </div>
                    </div>

                    @*parent*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Parent</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="select-parent"></select>
                        </div>
                    </div>

                    @*image*@
                    <div class="form-group">
                        <label for="txt-image" class="col-sm-2 control-label no-padding-right">Images</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" name="txt-image" class="form-control" id="txt-image" />
                                <input type="file" id="file-input-image" style="display:none" />
                                <span class="input-group-btn">
                                    <input type="button" id="btn-select-image" class="btn btn-default" value="Browser" />
                                </span>
                            </div>
                        </div>
                    </div>



                    @*Check box: home flag, active*@
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="checked" id="checkbox-status" />
                                    <span class="text">Active.</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="checkbox-homeflag" />
                                    <span class="text">Show on home.</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    @*// seo title*@
                    <div class="form-group">
                        <label for="txt-seo-page-title" class="col-sm-2 control-label no-padding-right">SEO Page Title</label>
                        <div class="col-sm-12">
                            <input type="text" name="txt-seo-page-title" class="form-control" id="txt-seo-page-title" />
                        </div>
                    </div>

                    @*seo url*@
                    <div class="form-group">
                        <label for="txt-seo-alias" class="col-sm-2 control-label no-padding-right">SEO URL</label>
                        <div class="col-sm-12">
                            <input type="text" name="txt-seo-alias" class="form-control" id="txt-seo-alias" />
                        </div>
                    </div>

                    @*seo keyword*@
                    <div class="form-group">
                        <label for="txt-seo-keyword" class="col-sm-2 control-label no-padding-right">SEO Keyword</label>
                        <div class="col-sm-12">
                            <input type="text" name="txt-seo-keyword" class="form-control" id="txt-seo-keyword" />
                        </div>
                    </div>

                    @*seo des - ckc*@
                    <div class="form-group">
                        <label for="txt-seo-description" class="col-sm-4 control-label no-padding-right">SEO Description</label>
                        <div class="col-sm-12">
                            <textarea rows="3" name="txt-seo-description" class="form-control" id="txt-seo-description"></textarea>
                        </div>
                    </div>

                    @*home order, sort order*@
                    <div class="form-group" style="display: flex;">

                        <div class="col-sm-6" style="margin-right:0px">
                            <label for="txt-home-order" class="col-sm-6 control-label no-padding-right" style="padding-left: 0;">Home Order</label>
                            <div class="col-sm-6" style=" padding-left: 0;">
                                <input type="number" name="txt-home-order" class="form-control" id="txt-home-order">
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-right:0px">
                            <label for="txt-sort-order" class="col-sm-6 control-label no-padding-right" style="padding-left: 0;">Sort Order</label>
                            <div class="col-sm-6" style=" padding-left: 0;">
                                <input type="number" name="txt-sort-order" class="form-control" id="txt-sort-order" />
                            </div>
                        </div>
                    </div>

                    @*description*@
                    <div class="form-group">
                        <label for="txtDescription" class="col-sm-2 control-label no-padding-right">Description</label>
                        <div class="col-sm-12">
                            <textarea rows="3" name="txtDescription" class="form-control" id="txtDescription"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="menu-context">
                <button type="button" id="btn-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-save" class="btn btn-primary">Save changes</button>
                <button type="button" id="btn-add" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>