@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
}
@section Scripts
    {
    <script src="~/app/shared/settings.js" asp-append-version="true"></script>
    <script src="~/app/controllers/category/index.js" asp-append-version="true"></script>
    <script>
        var category = new CategoryController();
        category.Init();
    </script>

}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Category List</h4>
            <button type="button" class="btn btn-primary mb-3" id="btn-create">Add new</button>
            <div class="row">
                <select class="custom-select col-2" id="select-category"></select>
                <input class="form-control col-4" type="text" placeholder="Search" id="search-input" style="margin-bottom: 10px; margin-right: 5px;">
                <button type="button" class="btn btn-primary mb-3" id="btn-search">Search</button>
            </div>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">Status</th>
                                <th scope="col">Name</th>
                                <th scope="col">Parent</th>
                                <th scope="col">Updated Date</th>
                            </tr>
                        </thead>
                        <tbody id="table-content"></tbody>
                    </table>
                </div>
                <div class="row" style="margin-left: 0px;">
                    <select class="custom-select col-2" id="select-page-size">
                        <option value="10" selected="selected">10 items</option>
                        <option value="20">20 items</option>
                        <option value="30">30 items</option>
                        <option value="40">40 items</option>
                    </select>
                    <ul class="pagination justify-content-center col-6" id="category-pagination"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <ul class="d-flex justify-content-center">
                <li class="mr-3">
                    <button class="btn-edit" data-id="{{Id}}" ><i class="fa fa-edit"></i></button>
                </li>
                <li><a href="#" class="text-danger" data-id="{{Id}}" id="btn-delete"><i class="ti-trash"></i></a></li>
            </ul>
        </th>
        <td>{{{Status}}}</td>
        <td>{{Name}}</td>
        <td>{{Parent}}</td>
        <td>{{UpdatedDate}}</td>
    </tr>
</script>

@await Html.PartialAsync("_ActionsPartial");
