@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
    <link href="~/lib/jquery-easyui-1-7-1/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1-7-1/themes/color.css" rel="stylesheet" />
}
@section Scripts
    {
    <script src="~/lib/jquery-easyui-1-7-1/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/app/shared/settings.js" asp-append-version="true"></script>
    <script src="~/app/controllers/category/index.js" asp-append-version="true"></script>
    <script>
        var category = new CategoryController();
        category.Init();
    </script>

}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">

            <h4 class="header-title">Category List</h4>
            <button type="button" class="btn btn-primary mb-3" id="btn-search">Primary</button>
            <div class="row">
                <div class="title_right">
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right">
                        <button class="btn btn-success" id="btn-create" type="button">Create</button>
                    </div>

                </div>
            </div>
            <div class="single-table">
                <div class="table-responsive">
                    <ul id="category-tree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*@await Html.PartialAsync("_ActionsPartial")*@