<div class="dropdown jtv-language-box">
    <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img class="img-responsive" src="~/client-side/images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
    <ul class="dropdown-menu" role="menu">
        <li> <a class="selected" href="#"> <img class="img-responsive" src="~/client-side/images/flag-english.jpg" alt="flag"> <span>English</span> </a> </li>
        <li> <a href="#"> <img class="img-responsive" src="~/client-side/images/flag-default.jpg" alt="flag"> <span>French</span> </a> </li>
        <li> <a href="#"> <img class="img-responsive" src="~/client-side/images/flag-german.jpg" alt="flag"> <span>German</span> </a> </li>
        <li> <a href="#"> <img class="img-responsive" src="~/client-side/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a> </li>
        <li> <a href="#"> <img class="img-responsive" src="~/client-side/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a> </li>
        <li> <a href="#"> <img class="img-responsive" src="~/client-side/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a> </li>
    </ul>
</div>