<div class="dropdown jtv-currency-box">
    <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"> $ - Dollar </a> </li>
        <li><a href="#"> £ - Pound </a> </li>
        <li><a href="#"> € - Euro </a> </li>
    </ul>
</div>