<!-- Modal -->
<div class="modal fade" id="excel-modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="form-maintainance">

                    @*import*@
                    <div class="form-group">
                        <label for="txt-import" class="col-sm-2 control-label no-padding-right">Import</label>
                        <div class="col-sm-12">
                             <input type="file" id="btn-select-import" class="btn btn-default" value="Browser" />
                        </div>
                    </div>

                    @*category*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Category</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="select-category-excel"></select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer" id="menu-context">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-save-import" class="btn btn-primary" style="margin-right: 1rem;">Import</button>
            </div>
        </div>
    </div>
</div>