@section Styles{
}

@section Scripts{
    <script src="~/app/controllers/product/index.js"></script>
    <script src="~/app/shared/settings.js"></script>
    <script>
        var product = new ProductController();
        product.Init();
    </script>
}
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Product List</h4>
            <div class="row">
                <select class="custom-select col-2" id="select-category"></select>
                <input class="form-control col-4" type="text" placeholder="Search" id="search-input" style="margin-bottom: 10px; margin-right: 5px;">
                <button type="button" class="btn btn-primary mb-3" id="btn-search">Search</button>
            </div>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">Actions</th>
                                <th scope="col">Status</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Updated Date</th>
                            </tr>
                        </thead>
                        <tbody id="table-content"></tbody>
                    </table>
                </div>
                <div class="row" style="margin-left: 0px;">
                    <select class="custom-select col-2" id="select-page-size">
                        <option value="10" selected="selected">10 items</option>
                        <option value="20">20 items</option>
                        <option value="30">30 items</option>
                        <option value="40">40 items</option>
                    </select>
                    <ul class="pagination justify-content-center col-6" id="product-pagination"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <ul class="d-flex justify-content-center">
                <li class="mr-3"><a href="#" class="text-secondary" data-id="{{Id}}"><i class="fa fa-edit"></i></a></li>
                <li><a href="#" class="text-danger" data-id="{{Id}}"><i class="ti-trash"></i></a></li>
            </ul>
        </th>
        <td>{{{Status}}}</td>
        <td>{{Quantity}}</td>
        <td>{{Name}}</td>
        <td>{{Price}}</td>
        <td>{{UpdatedDate}}</td>
    </tr>
</script>